<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>STROM</title>
</head>

<style type="text/css">
    .dataTables_info{
        float: left !important;
        padding-top: 0 !important;
    }
</style>

<body>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>菜单管理</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                首页
            </li>
            <li class="breadcrumb-item">
                系统管理
            </li>
            <li class="breadcrumb-item active">
                <strong>菜单管理</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-3">
            <div class="panel" style="margin-bottom: 0px">
                <div class="panel-body">
                    <div id="menu"></div>
                    <input id="parentId" type="hidden" value="0">
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="ibox">
                <!-- 搜索查询条件 -->
                <div class="ibox-title">
                    <!-- 权限菜单按钮 -->
                    <button shiro:hasPermission="/sys/menu/add.action" onclick="edit(0)" class="btn btn-primary btn-sm" type="button">
                        <i class="fa fa-plus"></i> 新增
                    </button>
                </div>
                <!-- 表格数据 -->
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-data" style="width: 100%">
                            <thead>
                            <tr>
                                <th>名称</th>
                                <th>链接</th>
                                <th>类型</th>
                                <th>状态</th>
                                <th>排序</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 表格权限菜单按钮 -->
<div id="btn" style="display: none">
    <button id="btn_edit" shiro:hasPermission="/sys/menu/edit.action" type="button" class="btn btn-info btn-sm" onclick="edit(#id)">
        <i class="fa fa-edit"></i> 编辑
    </button>
    <button id="btn_delete" shiro:hasPermission="/sys/menu/delete.action" type="button" class="btn btn-danger btn-sm" onclick="del(#id)">
        <i class="fa fa-trash-o"></i> 删除
    </button>
</div>

<!-- Page-Level Scripts -->
<script>
    var menu;
    $(function() {
        init();
        getData();
        getMenu();
    });

    function init() {

    }

    function getMenu() {
        menu = $('#menu').jstree({
            'core' : {
                'data' : {
                    "url" : "[[@{/sys/menu/treeJson.action}]]",
                    "dataType" : "json"
                }
            }
        });
    }

    $('#menu').bind("activate_node.jstree", function (obj, e) {
        // 处理代码
        // 获取当前节点
        var id = e.node.id.toString();
        if(id.search("_") != -1) {
            $('#parentId').val(0);
        }
        else {
            $('#parentId').val(id);
        }
        search();
    });

    function getData() {
        table = $('.dataTables-data').DataTable({
            pageLength: 50,
            responsive: true,
            processing: true,
            serverSide: true,
            searching: false,
            ajax: {
                url:"[[@{/sys/menu/pageJson.action}]]",
                type: "POST",
                data: function ( data ) {
                    data['parentId'] = $('#parentId').val();
                }
            },
            dom: 't',
            buttons: [
                {extend: 'copy'},
                {extend: 'csv', title: 'data_csv'},
                {extend: 'excel', title: 'data_excel'},
                {extend: 'pdf', title: 'data_pdf'},
                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ],
            //对应上面thead里面的序列
            columns: [
                {"data": 'name', "width": "20px", "orderable": false, "searchable": false},
                {"data": 'url', "width": "30px", "orderable": false, "searchable": false},
                {"data": 'type', "width": "10px", "orderable": false, "searchable": false,
                    "render": function (data, type, row, meta) {
                        if(data == 0) {
                            return "菜单";
                        } else {
                            return "按钮";
                        }
                    }
                },
                {"data": 'isActive', "width": "10px", "orderable": false, "searchable": false,
                    "render": function (data, type, row, meta) {
                        if(data == 0) {
                            return "有效";
                        } else {
                            return "无效";
                        }
                    }
                },
                {"data": 'sort', "width": "10px", "orderable": false, "searchable": false},
                {"data": null, "width": "80px", "orderable": false, "searchable": false,
                    "defaultContent": "",
                    "render": function (data, type, row, meta) {
                        return $("#btn").html().replace(/#id/g, row.id);
                    }
                }
            ],
            language: {
                url: '[[@{/language/datatables_chinese.json}]]'
            }
        });
    }

    function search() {
        table.draw(true);
    }

    function edit(id,viewType){
        var url = "[[@{/sys/menu/edit.action}]]?id=" + id + "&parentId=" + $('#parentId').val();
        if(viewType != undefined){
            url += "&viewType=view";
        }
        link(url);
    }

    function del(id){
        appDialog.comfirm("确定要删除该记录吗？", "[[@{/sys/menu/delete.action}]]?ids=" + id,
            function () {
                search();
                menu.jstree(true).refresh();
            }
        );
    }
</script>
</body>
</html>
