<?xml version="1.0" encoding="UTF-8"?>
<!-- 从高到地低 OFF 、 FATAL 、 ERROR 、 WARN 、 INFO 、 DEBUG 、 TRACE 、 ALL -->
<!-- 日志输出规则  根据当前ROOT 级别，日志输出时，级别高于root默认的级别时  会输出 -->
<!-- 以下  每个配置的 filter 是过滤掉输出文件里面，会出现高级别文件，依然出现低级别的日志信息，通过filter 过滤只记录本级别的日志-->
<configuration>
    <!-- 文件输出格式 -->
    <property name="PATTERN"
              value="%red(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread]) %highlight(%-5level) %boldMagenta(%logger) - %cyan(%msg%n)" />

    <!-- 开发环境输出过滤日志级别 -->
    <property name="DEV_LEVEL" value="DEBUG" />

    <!-- 测试环境输出文件路径 -->
    <property name="TEST_SYSTEM_PATH" value="/data/log/system.log" />
    <property name="TEST_SYSTEM_DAILY_PATH" value="/data/log/system_%d{yyyy-MM-dd}.%i.log" />
    <property name="TEST_ERROR_PATH" value="/data/log/error.log" />
    <property name="TEST_ERROR_DAILY_PATH" value="/data/log/error_%d{yyyy-MM-dd}.%i.log" />
    <property name="TEST_DEBUG_PATH" value="/data/log/debug.log" />
    <property name="TEST_DEBUG_DAILY_PATH" value="/data/log/debug_%d{yyyy-MM-dd}.%i.log" />

    <!-- 生产环境输出文件路径 -->
    <property name="PRD_SYSTEM_PATH" value="/data/log/system.log" />
    <property name="PRD_SYSTEM_DAILY_PATH" value="/data/log/system_%d{yyyy-MM-dd}.%i.log" />
    <property name="PRD_ERROR_PATH" value="/data/log/error.log" />
    <property name="PRD_ERROR_DAILY_PATH" value="/data/log/error_%d{yyyy-MM-dd}.%i.log" />

    <!-- 开发环境 -->
    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>
        <!-- 下面配置一些第三方包的日志过滤级别，用于避免刷屏 -->
        <logger name="org.springframework" level="INFO" />
        <logger name="org.apache" level="INFO" />
        <logger name="com.netflix" level="INFO" />
        <logger name="org.hibernate" level="INFO" />
        <logger name="com.zaxxer" level="INFO" />
        <logger name="org.mybatis" level="INFO" />
        <logger name="org.thymeleaf" level="INFO" />
        <logger name="io.netty" level="INFO" />
        <logger name="io.lettuce" level="INFO" />
        <logger name="reactor" level="INFO" />
        <logger name="net.sf.ehcache" level="INFO" />
        <logger name="org.quartz" level="INFO" />
        <logger name="org.crazycake.shiro" level="INFO" />
        <logger name="druid.sql" level="INFO" />
        <logger name="com.alibaba.druid" level="INFO" />

        <root level="${DEV_LEVEL}">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <!-- 测试环境 -->
    <springProfile name="test">
        <appender name="ROLLING"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 文件路径 -->
            <file>${TEST_SYSTEM_PATH}</file>
            <rollingPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!-- rollover daily -->
                <fileNamePattern>${TEST_SYSTEM_DAILY_PATH}</fileNamePattern>
                <maxFileSize>1MB</maxFileSize>
                <maxHistory>60</maxHistory>
                <totalSizeCap>10MB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>

        <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${TEST_ERROR_PATH}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${TEST_ERROR_DAILY_PATH}</fileNamePattern>
            </rollingPolicy>
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

        <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${TEST_DEBUG_PATH}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${TEST_DEBUG_DAILY_PATH}</fileNamePattern>
            </rollingPolicy>
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>DEBUG</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>
        <!-- 下面配置一些第三方包的日志过滤级别，用于避免刷屏 -->
        <logger name="org.springframework" level="INFO" />
        <logger name="org.apache" level="INFO" />
        <logger name="com.netflix" level="INFO" />
        <logger name="org.hibernate" level="INFO" />
        <logger name="com.zaxxer" level="INFO" />
        <logger name="org.mybatis" level="INFO" />
        <logger name="org.thymeleaf" level="INFO" />
        <logger name="io.netty" level="INFO" />
        <logger name="io.lettuce" level="INFO" />
        <logger name="reactor" level="INFO" />
        <logger name="net.sf.ehcache" level="INFO" />
        <logger name="org.quartz" level="INFO" />
        <logger name="org.crazycake.shiro" level="INFO" />
        <logger name="druid.sql" level="INFO" />
        <logger name="com.alibaba.druid" level="INFO" />

        <root level="DEBUG">
            <appender-ref ref="ROLLING" />
            <appender-ref ref="ERROR_FILE" />
            <appender-ref ref="DEBUG_FILE" />
        </root>
    </springProfile>


    <!--生产环境  -->
    <springProfile name="prd">
        <appender name="ROLLING"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 文件路径 -->
            <file>${PRD_SYSTEM_PATH}</file>
            <rollingPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!-- rollover daily -->
                <fileNamePattern>${PRD_SYSTEM_DAILY_PATH}</fileNamePattern>
                <!-- 每个日志文件最大10MB, 保留30天的日志文件, 但是最多总文件大小为 5GB -->
                <maxFileSize>10MB</maxFileSize>
                <maxHistory>30</maxHistory>
                <totalSizeCap>5GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>

        <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${PRD_ERROR_PATH}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${PRD_ERROR_DAILY_PATH}</fileNamePattern>
            </rollingPolicy>
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>
        <!-- 下面配置一些第三方包的日志过滤级别，用于避免刷屏 -->
        <logger name="org.springframework" level="WARN" />

        <root level="INFO">
            <appender-ref ref="ROLLING" />
            <appender-ref ref="ERROR_FILE" />
        </root>
    </springProfile>

</configuration>