<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>STROM</title>
</head>

<body>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>用户管理</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                首页
            </li>
            <li class="breadcrumb-item">
                系统管理
            </li>
            <li class="breadcrumb-item">
                <strong>用户管理</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <th:block th:if="${entity?.id eq null}"><h5>添加用户信息</h5></th:block>
                    <th:block th:unless="${entity?.id lt 0}"><h5>编辑用户信息</h5></th:block>
                    <div class="ibox-tools">
                        <a href="javascript:void(0);" class="btn btn-primary btn-sm" th:onclick="'javascript:link(\''+@{/sys/user/list.action}+'\')'"><span class="fa fa-mail-reply"></span> 返回</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form id="infoForm" th:action="@{/sys/user/save.action}">
                        <input name="id" type="hidden" th:value="${entity?.id}">
                        <div class="form-row">
                            <div class="col-md-3 mb-3 data-info">
                                <label>账号</label>
                                <input name="code" type="text" th:value="${entity?.code}" class="form-control" required>
                            </div>
                            <div class="col-md-1 mb-3"></div>
                            <div class="col-md-3 mb-3 data-info">
                                <label>昵称</label>
                                <input name="name" type="text" th:value="${entity?.name}" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3 mb-3 data-info">
                                <label>邮箱</label>
                                <input name="email" type="text" th:value="${entity?.email}" class="form-control">
                            </div>
                            <div class="col-md-1 mb-3"></div>
                            <div class="col-md-3 mb-3 data-info">
                                <label>密码</label>
                                <input name="pwd" type="text" th:value="${entity?.pwd}" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3 mb-3 data-info">
                                <label>邮件报障</label>
                                <select name="recvEmailFlag" class="custom-select" required>
                                    <option value="0" th:selected="${entity?.recvEmailFlag eq 0}">有效</option>
                                    <option value="1" th:selected="${entity?.recvEmailFlag eq 1}">无效</option>
                                </select>
                            </div>
                            <div class="col-md-1 mb-3"></div>
                            <div class="col-md-3 mb-3 data-info">
                                <label>状态</label>
                                <select name="status" class="custom-select" required>
                                    <option value="0" th:selected="${entity?.status eq 0}">正常</option>
                                    <option value="1" th:selected="${entity?.status eq 1}">禁用</option>
                                </select>
                            </div>
                            <div class="col-md-1 mb-3"></div>
                            <div class="col-md-3 mb-3 data-info">
                                <label>备注</label>
                                <input name="memo" type="text" th:value="${entity?.memo}" class="form-control">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button th:onclick="'javascript:link(\''+@{/sys/user/list.action}+'\')'" class="btn btn-white btn-sm" type="button">取消</button>
                                <button id="infoFormBtn" class="btn btn-primary btn-sm ladda-button" onclick="save()" type="button" data-style="zoom-in">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        init();
    });

    function init() {

    }

    function save(){
        if(validateForm()){
            appDialog.submit_form("保存成功", "保存失败", "infoForm", "[[@{/sys/user/list.action}]]");
        }
    }

    function validateForm() {
        return $('#infoForm').validate({
            errorElement : 'div',
            errorClass : 'invalid-feedback',
            focusInvalid : true,
            rules : {
                "code":{required:true},
                "pwd":{required:true}
            },
            onclick : function (element) {
                $(element).valid();
            },
            onfocusout: function (element) {
                $(element).valid();
            },
            highlight : function(element) {
                $(element).closest('.data-info').removeClass('has-success').addClass('has-error');
            },
            success : function(label) {
                label.closest('.data-info').removeClass('has-error');
                label.remove();
            },
            errorPlacement : function(error, element) {
                element.parent('div').append(error);
            }
        }).form();
    }
</script>
</body>
</html>
