<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>STROM</title>
    <!-- 导入公共 common_style -->
    <div th:replace="/init/init_style :: common_style"></div>
</head>

<body>
<div id="wrapper">
    <!-- 导入公共 common_nav -->
    <nav th:include="/common/nav :: navigation" class="navbar-default navbar-static-side" role="navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <!-- 导入公共 common_header -->
        <div th:include="/common/header :: headerTop" class="border-bottom"></div>
        <div id="pageContent" class="wrapper wrapper-content">

        </div>
        <!-- 导入公共 common_footer -->
        <div th:include="/common/footer :: copyright" class="footer"></div>
    </div>
</div>
<!-- 导入公共 common_script -->
<div th:replace="/init/init_script :: common_script"></div>

<script>
    $(function(){

    });

    function link(url, callback){
        $("#pageContent").load(url,function(data){
            callback && callback();
        });
    }
</script>
</body>
</html>
